.footer {
  background:
    radial-gradient(circle at center, rgba(92,255,157,0.08), transparent 60%),
    #02140d;
  padding: 80px 10% 30px;
  color: #aaa;
}

/* CONTAINER */
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */
.footer-left {
  max-width: 350px;
}

.logo {
  color: #9AE800;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.footer-left p {
  margin: 20px 0;
  line-height: 1.6;
}

/* SOCIAL */
.socials {
  display: flex;
  gap: 15px;
}

.socials span {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  border-color: #9AE800;
  color: #9AE800;
  transform: scale(1.1);
}

/* COLUMN */
.footer-col h4 {
  color: white;
  margin-bottom: 20px;
}

.footer-col a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #aaa;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #9AE800;
}

/* CONTACT */
.contact {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  align-items: flex-start;
}

.contact svg {
  color: #9AE800;
  margin-top: 3px;
}

/* BOTTOM */
.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
}

.footer-links a:hover {
  color: #9AE800;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}