.stepper {
  display: flex;
  align-items: center;
}

.step-item {
  display: flex;
  align-items: center;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #d9d9d9;
  transition: 0.3s ease;
}

.circle.active {
  background: #16a085;
}

.line {
  width: 60px;
  height: 3px;
  background: #d9d9d9;
  transition: 0.3s ease;
}

.line.active {
  background: #16a085;
}