html, body {
    overflow-x: hidden;
    overflow-y: auto; /* 🔥 penting */
    height: auto;
    margin-bottom: 50px;
}

.dashboard-page {
    min-height: 100vh;
    overflow-y: auto; /* 🔥 ini kunci */
}

/* CARD */
.custom-card {
    border: 1px solid #dbe5db !important;
    /* border-width: 1px;
    border-color: #dbe5db; */
    border-radius: 20px !important;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.03);
    height: 100% !important; 
    min-height: 140px !important;
}

/* TEXT */
.label {
    font-size: 12px;
    color: #5f7a5f;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.value {
    font-size: 28px;
    font-weight: bold;
    color: #0f2f0f;
    line-height: 1.2;
    word-break: break-word; /* 🔥 penting */
}

/* BADGE */
.badge-success {
    background: #e6f9e6;
    color: #16a34a;
    font-weight: 500;
}

.badge-danger {
    background: #fde2e2;
    color: #dc2626;
    font-weight: 500;
}

/* SUBTEXT */
.subtext {
    font-size: 12px;
    color: #5f7a5f;
}

/* ICON BOX */
.icon-box {
    width: 40px;
    height: 40px;
    background: #eef3ea;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;

    font-size: 20px;
    color: #84cc16;

    flex-shrink: 0;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* 🔥 penting */
    gap: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 🔥 ini bikin rapi */
}

@media (max-width: 1200px) {
    .value {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .value {
        font-size: 20px;
    }

    .label {
        font-size: 11px;
    }
}