/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #f5f7f5;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

/* SIDEBAR HEADER */
.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    background-color: #02140d;
    /* border-bottom: 1px solid #84cc16; */
}

/* MENU */
.menu {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #02140d;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.2s;
    font-weight: bold;
}

.menu-item:hover {
    /* background: #84cc16; */
    color: #84cc16;
}

.menu-item.active {
    /* background: #84cc16; */
    color: #84cc16;
    /* border-left: 4px solid #02140d; */
}

/* SUBMENU */
.submenu {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 10px;
}

.submenu-item {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    gap: 12px;
}

.submenu-item:hover {
    /* background: #84cc16; */
    color: #84cc16;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.submenu-item.active {
    /* background: #84cc16; */
    color: #84cc16;
    /* border-radius: 10px; */
}

/* FOOTER */
.sidebar-footer {
  padding: 20px;
  /* border-top: 1px solid #84cc16; */
  background-color: #02140d;
}

.sidebar-footer div {
    margin-bottom: 10px;
    cursor: pointer;
    color: #84cc16;
    font-weight: bold;
}

.logout {
    color: #ef4444;
}

/* MAIN AREA */
.main {
    flex: 1;
    margin-left: 200px;
    transition: 0.3s;
    background: #FFFFFF;
    min-height: 100vh;
}

.sidebar.collapsed ~ .main {
  margin-left: 80px;
  background-color: #FFFFFF;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;

  position: fixed;
  left: 260px;
  right: 0;
  top: 0;
  z-index: 900;
  transition: 0.3s;
}

.sidebar.collapsed ~ .main .topbar {
  left: 80px;
}

/* BURGER */
.burger {
  font-size: 18px;
  cursor: pointer;
  background: #f3f7f3;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.burger:hover {
  background: #e6f9e6;
}

.topbar .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-text {
  font-weight: bold;
  color: #0f2f0f;
}

/* CONTENT */
.content {
  padding: 80px 20px 20px 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    left: -260px;
  }

  .sidebar.open {
    left: 0;
  }

  .main {
    margin-left: 0 !important;
  }

  .topbar {
    left: 0 !important;
  }

  .content {
    padding: 80px 15px 20px 15px;
  }

  /* OVERLAY */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 800;
  }
}