.container-tagihan {
	/* margin-top: 40px; */
	/* background-color: red; */
}

.table-wrapper {
    width: 100%;
    overflow-x: auto; /* 🔥 kunci */
}

.custom-table {
	width: 100%;
	min-width: 600px; /* biar bisa scroll */
	border-collapse: collapse;
}

.custom-table th,
.custom-table td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

.custom-table th {
  	background: #f5f7f5;
}

.custom-table tr:hover {
  	background: #f9fafb;
}

/* DEFAULT */
.responsive-table {
	width: 100%;
	border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* MOBILE MODE */
@media (max-width: 768px) {

  .responsive-table thead {
    display: none; /* 🔥 hide header */
  }

  .responsive-table tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .responsive-table td::before {
    content: attr(data-label); /* 🔥 label muncul */
    font-weight: bold;
  }
}