.sidebar {
  width: 260px;
  height: 100vh;
  background: #f5f7f5;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.sidebar.collapsed {
  width: 80px;
}

/* HEADER */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-weight: bold;
  color: #0f2f0f;
}

/* MENU */
.menu {
  flex: 1;
  padding: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #2f4f2f;
}

.menu-item:hover {
  background: #eaf5ea;
}

.menu-item.active {
  background: #e6f9e6;
  color: #84cc16;
  border-left: 4px solid #84cc16;
}

/* SUBMENU */
.submenu {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #5f7a5f;
  margin-top: 5px;
}

/* FOOTER */
.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #e5e7eb;
}

.sidebar-footer div {
  margin-bottom: 10px;
  cursor: pointer;
}

.logout {
  color: #ef4444;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }
}